@import "theme.scss";

header
{
	display: block;
	#row1
	{
		min-height: 40px;
		background: $primaryColor;
		padding-bottom: 5px;
		.links{
			display: inline-block;
			color: white;
			padding: 10px 10px;
			height: 40px;
			border-bottom-right-radius: 2px;
			border-bottom-left-radius: 2px;
			font-size: 14px;

			&:hover,&.active{
			background: #fff;
			color: $primaryColor;

		}
		i,span
		{
			transition: 0s;
		}

		}

	}/*end  of row1*/

    #row2
    {
    margin-bottom: 30px;

    	nav{
    		min-height: 0%;
    		background: #fff;
    		border-bottom: 0px;
    		border-top: 0px;
    		margin-top: 30px;
    		margin-bottom: 0px;

    		.nav {
               a {
                    color:$primaryColor;
                    text-transform: uppercase;
                    padding-bottom: 10px;
                    padding-top: 10px;
                 }
            }
            .navbar-brand{
                height:auto;
                padding-top:0px; 
                padding-bottom:0px;
            }



    	}
        form{
            padding-left: 10px;
            border: 0px;

                input, button{
                    border-radius:0px;
                    box-shadow: none;
                    outline: 0px;
                }
                button{
                    padding-top: 7px;
                    padding-bottom: 6px;

                    font-size: 13px;
                }
            }
    }/*end of row2*/


    #row3
    {
    	background: $secColor;
    	min-height: 37px;

        .navbar
        {
            margin-bottom: 0px;
        }


    	.nav{
    		li{
                margin: 0px;
    			a{
                    padding-left: 25px;
                    padding-right: 25px;
    				color: $primaryColor;
    				text-transform: uppercase;
    				&.active, &:hover{
    					background: $primaryColor;
    					color: #fff;

    				}
    			}
    		}




    	}
        .navbar-collapse {
            padding: 0px;
        }
    	
    }/*end of row3*/




}/*end of header*/