@import "theme.scss";

#siteInfo
{
    padding-top: 10px;
    background: $primaryColor;


    .block{
        background-color: $light_primary_color;
        display: block;
        margin-bottom: 10px;
        padding: 20px;

        h4,.icon
          {
            color: #fff;
        }
        .icon
        {
            float: left;
            font-size: 35px;
            margin-right: 10px;

        }
        h4,h5
        {
            margin: 0px;
        }
    }
    
}/*end of siteInfo */


#tabbedSlider
{
    margin-top: 88px;
    margin-bottom: 88px;
    .header
    {
        background: $primaryColor;
        padding-top: 6px;
        text-align: center;
        li{
            float: none;
            display: inline-block;
            
            a{
                color: white;
                font-size: 18px;
            }
            &:hover,&.active{
                a{
                   color: $primaryColor;
                }
            }
            
        }


   } 
}

.content
{
    margin-top: 30px;
    .carousel{
        .carousel-control{
            background: none;
            width: 50px;
            height: 50px;
            position: absolute;
            margin-top: -72px;
        }
        .glyphicon{
            margin:0px;
            top: 0px;
            position: relative;
        }
        &.right{
            .glyphicon{
                left: 0px;
            }
        }
    }
}



#subscribe{
    padding: 50px 0px;
    background-image: url("../images/subscribeBannerBg.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;

    .title{
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 40px;
    }
    form{
        input,button{
            background-color: #dde7ca;
            border-radius: 7px;
            display: inline-block;
            border: 3px solid $primary_dark_color;
            margin-bottom: 5px;
        }
        input{
            padding: 10px;
            font-size: 18px;
            min-width: 320px;
            color: $primaryColor;
            outline: none;

            &:focus{
                background-color: $primary_dark_color;
                color: #fff;

                &::placeholder{
                    color: #fff;
                }
            }
        }
        button{
            width: auto;
            padding: 10px 30px;
            font-size: 18px;
            font-weight: bold;
            margin-left: 4px;
            color: $primary_dark_color;

            &:hover{
                background-color: $primary_dark_color;
                color: #fff;
            }
        }
    }
}


