@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$fa-font-path: "../css/font-awesome/fonts/";
@import "../css/font-awesome/scss/font-awesome";
@import "theme.scss";

$icon-font-path: "../frameworks/bootstrap-sass/assets/fonts/bootstrap/";
$brand-primary:$primaryColor;
@import "../frameworks/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin box-shadow($value){
    -moz-box-shadow: $value;
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

body
{
	margin: 0px;
	padding: 0%;
	font-family: Open Sans;

	&,& *{
        transition: all 0.4s ease;
	}
	a:hover
	{
		text-decoration: none;
	}
    h1,h2,h3,h4,h5,h6,ul,li,p{
        margin-top: 0px;
        padding: 0px;
    }

}/*end of body*/

.btnStyle1,
.btnStyle2 {
    display: inline-block;
    padding: 10px 25px;
    background-color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 1px #CCC;
    color: #709b1d;
    &:hover {
        background-color: #709b1d;
        color: #FFF;
        border-color: #FFF;
        box-shadow: none;
    }
    i {
        transition: all 0s;
    }
}

.btnStyle2 {
    background-color: $primaryColor;
    color: #FFF;
    box-shadow: $secColor;
    &:hover {
        background-color: #FFF;
        color: $primaryColor;
        border-color: $primaryColor;
    }
}


.socialIcons2 {
    .text {
        float: left;
        margin-right: 10px;
        font-size: 18px;
    }
    a {
        display: block;
        float: left;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 5px;
        color:#FFF;

        &.facebook{
            background-color:$facebook_color;
        }

        &.pinterest{
            background-color:$pinterest_color;
        }

        &.twitter{ 
            background-color:$twitter_color;
        }

        &.googlePlus{
            background-color:$google_plus_color;
        }

    }
}

.heading {
    background-color: $primaryColor;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
}


.breadCrumbs{
    background-color: $primaryColor;
    padding: 12px 13px;
    color: #fff;

    a{
        color: #fff;
    }
}
img{
    max-width: 100%;
}
.mt-20{
    margin-top: 20px;
}
.mt-50{
    margin-top: 50px;
}


.vMenu{

    margin-bottom: 50px;

    .heading{
        margin-bottom: 15px;
    }

        ul{
            padding: 0px;
            margin: 0px;
            list-style-type: none;

            li{
                padding: 0px;
            }
            
            a,label{
                display: block;
                color: $dark_text_color;
                text-transform: uppercase;
                padding: 5px;
                padding-left: 0px;
                font-weight: normal;
                font-size: 15px;
                &:hover{
                    color: $primaryColor;
                }
                i{
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }

        &.checkboxes{
            label{
                &:before{
                    content: "";
                    display: block;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #333;
                    background-color: #fff;
                    margin-right: 10px;
                    margin-top: 4px;
                    float: left;

                    @include box-shadow(inset 0 0 5px #929292);


                }
            }

            input[type="checkbox"]:checked + label{
                &:before{
                    @include box-shadow(inset 0 0 5px #6b6b6b);
                    background-color: $primaryColor;
                }
            }
        }
    }




.full_width{
    display:block;
    width:100%;
}


.btnStyle1{
    display: inline-block;
    padding: 10px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 3px 0px #ccc;
    color: #709b1d;
    background: #fff;
    &:hover{
        box-shadow: none;
        border: 1px solid white;
        color: #fff;
        background: $primaryColor;
    }
    i{
        transition: 0s;
    }

}

@import "header.scss";

.slider
{
    .carousel-control{
        &.right,&.left{
            background-image: none;
        }
        .glyphicon-chevron-right,.glyphicon-chevron-left
        {
            height: auto;
            width: auto;
        }

        .glyphicon-chevron-right
        {
            right: 6%;
        }
        .glyphicon-chevron-left
        {
            left: 6%;
        }


    }
    .carousel-inner
    {
        .item img{
            width: 100%;
            margin: auto;
        }
        
    }

    .carousel-indicators li
    {
        border: 0px;
        border-radius: 0px;
        background: $primaryColor;
        width: 22px;
        height: 17px;
        margin: 0px;

        &.active{
            background: $primary_dark_color;
        }
        
    }

}/*end of slider*/



.rating{
    text-align: center;
    .star{
        display:inline-block;

        width:18px;
        height:18px;
        background-position:bottom;
        background-image:url(../images/starIcon.png);

        &.active,&:hover{
            background-position: top;
        }

    }
}
.rating2{
    line-height: 21px;

    .star{
        display: block;
        float: left;
        width: 20px;
        height: 18px;
        margin-right: 5px;
        background-position: bottom;
        background-image: url(../images/starIcon2.png);

        &.active{
            background-position: top;
        }
    }
    .text{
        display: block;
        float: left;
        margin-left: 5px;
        font-size: 16px;
        color: $dark_text_color;
    }
}



.price1,
.newPrice1 {
    font-weight: bold;
    font-size: 20px;
    color: #696969;
    display: inline-block;
    &.discounted {
        text-decoration: line-through;
    }
}

.newPrice1 {
    color: $primaryColor;
}


.product{
            background-color: $light_grey_color;
            padding:2px;
            text-align: center;
            
            .img{
                background-position: center;
                width:100%;
                padding-bottom:100%;
                background-size:cover;
                position:relative;
                margin-bottom:30px;

                .discountBadge{
                    position: absolute;
                    top: 20px;
                    left: 0px;
                    height: 50px;
                    width: 50px;
                    background: $primaryColor;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    .percent
                    {
                        transform: rotate(45deg);
                        display: block;
                    }

                }


                .title{
                    position:absolute;
                    left:0px;
                    right:0px;
                    bottom:-20px;
                    width:90%;
                    height:40px;
                    line-height:40px;
                    font-size:16px;
                    background-color:#FFF;
                    border: 1px solid $light_grey_color;
                    color:$primaryColor;
                    margin:auto;
                    

                }
                
                
            }

            .price,
         .newPrice {
                    font-weight: bold;
                    font-size: 20px;
                    color: #696969;
         &.discounted {
                text-decoration: line-through;
               } 
            }

.newPrice {
    color: $primaryColor;
}


            
            .btn{
                display: none;
            }
            &:hover{
                background-color: $primaryColor;
                .btn{
                    display: inline-block;
                }
                .price,.newPrice,.rating{
                    display: none;
                }
            }

            


        }







@import "footer.scss";

