@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$fa-font-path: "../css/font-awesome/fonts/";
@import "../css/font-awesome/scss/font-awesome";
@import "theme.scss";


body
{
	margin: 0px;
	padding: 0%;
	font-family: Open Sans;

	&,& *{
        transition: all 0.4s ease;
	}
	a:hover
	{
		text-decoration: none;
	}

}/*end of body*/


.btnStyle1{
    display: inline-block;
    padding: 10px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 3px 0px #ccc;
    color: #709b1d;
    background: #fff;
    &:hover{
        box-shadow: none;
        border: 1px solid white;
        color: #fff;
        background: $primaryColor;
    }
    i{
        transition: 0s;
    }

}

@import "header.scss";

.slider
{
    .carousel-control{
        &.right,&.left{
            background-image: none;
        }
        .glyphicon-chevron-right,.glyphicon-chevron-left
        {
            height: auto;
            width: auto;
        }

        .glyphicon-chevron-right
        {
            right: 6%;
        }
        .glyphicon-chevron-left
        {
            left: 6%;
        }


    }
    .carousel-inner
    {
        .item img{
            width: 100%;
            margin: auto;
        }
        
    }

    .carousel-indicators li
    {
        border: 0px;
        border-radius: 0px;
        background: $primaryColor;
        width: 22px;
        height: 17px;
        margin: 0px;

        &.active{
            background: $primary_dark_color;
        }
        
    }

}/*end of slider*/



.rating{
    text-align: center;
    .star{
        display:inline-block;

        width:18px;
        height:18px;
        background-position:bottom;
        background-image:url(../images/starIcon.png);

        &.active,&:hover{
            background-position: top;
        }

    }
}


.product{
            background-color: $light_grey_color;
            padding:2px;
            text-align: center;
            
            .img{
                background-position: center;
                width:100%;
                padding-bottom:100%;
                background-size:cover;
                position:relative;
                margin-bottom:30px;

                .discountBadge{
                    position: absolute;
                    top: 20px;
                    left: 0px;
                    height: 50px;
                    width: 50px;
                    background: $primaryColor;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    .percent
                    {
                        transform: rotate(45deg);
                        display: block;
                    }

                }


                .title{
                    position:absolute;
                    left:0px;
                    right:0px;
                    bottom:-20px;
                    width:90%;
                    height:40px;
                    line-height:40px;
                    font-size:16px;
                    background-color:#FFF;
                    border: 1px solid $light_grey_color;
                    color:$primaryColor;
                    margin:auto;
                    

                }
                
                
            }

            .price,.newPrice{
                font-weight:bold;
                font-size:20px;
                color:#696969;
                margin-bottom:16px;
                display: inline-block;

                &.discounted{
                    text-decoration: line-through;
                }
            }
            .newPrice
            {
                color: $primaryColor;
            }
            .btn{
                display: none;
            }
            &:hover{
                background-color: $primaryColor;
                .btn{
                    display: inline-block;
                }
                .price,.newPrice,.rating{
                    display: none;
                }
            }

            


        }


@import "footer.scss";

