$primaryColor: #709b1d;
$secColor: #f3f3f3;
$primary_dark_color: #4b6e08;
$light_primary_color: #83b228;
$dark_text_color: #434343;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
	margin: 0px;
	padding: 0%;
	font-family: Open Sans;

	&,& *{
        transition: all 0.4s ease;
	}
	a:hover
	{
		text-decoration: none;
	}

}

header
{
	display: block;
	#row1
	{
		min-height: 40px;
		background: $primaryColor;
		padding-bottom: 5px;
		.links{
			display: inline-block;
			color: white;
			padding: 10px 10px;
			height: 40px;
			border-bottom-right-radius: 2px;
			border-bottom-left-radius: 2px;
			font-size: 14px;

			&:hover,&:active{
			background: #fff;
			color: $primaryColor;

		}
		i,span
		{
			transition: 0s;
		}

		}

	}

    #row2
    {
    	min-height: 85px;

    	nav{
    		min-height: 0%;
    		background: #fff;
    		border-bottom: 0px;
    		border-top: 0px;
    		margin-top: 30px;
    		margin-bottom: 0px;

    		.nav {
               a {
                    color:$primaryColor;
                    text-transform: uppercase;
                 }
            }
            .navbar-brand{
                height:auto;
                padding-top:0px; 
                padding-bottom:0px;
            }



    	}
    }


    #row3
    {
    	background: $secColor;
    	min-height: 37px;

        .navbar
        {
            margin-bottom: 0px;
        }


    	.nav{
    		li{
    			padding-left: 0 15px;
    			a{
    				color: $primaryColor;
    				text-transform: uppercase;
    				&:active, &:hover{
    					background: $primaryColor;
    					color: #fff;

    				}
    			}
    		}




    	}
    	form{
                input, button{
                    border-radius:0px;
                }
            }
    }




}


.slider
{
    .carousel-control{
        &.right,&.left{
            background-image: none;
        }
        .glyphicon-chevron-right,.glyphicon-chevron-left
        {
            height: auto;
            width: auto;
        }

        .glyphicon-chevron-right
        {
            right: 6%;
        }
        .glyphicon-chevron-left
        {
            left: 6%;
        }


    }
    .carousel-inner
    {
        .item img{
            width: 100%;
            margin: auto;
        }
        
    }

    .carousel-indicators li
    {
        border: 0px;
        border-radius: 0px;
        background: $primaryColor;
        width: 22px;
        height: 17px;
        margin: 0px;

        &.active{
            background: $primary_dark_color;
        }
        
    }

}
















@media(max-width: 786px){


header
{
	#row1
	{
		.links
		{
			font-size: 11px;
			padding: 10px 5px;
			height: auto;
		}
		.currencyDropdown{
                    width:100%;

                    a, .dropdown-menu{
                        width:100%;
                    }
                    .dropdown-menu{
                        border-top:0px;
                        border-radius:0px;
                    }
                
                }
		
		
	}

    #row3{
            .navbar-toggle{
                float: none;
                margin-right: auto;
                margin-left: auto;
                width: 100px;
                display: block;
                color: #709b1d;
                font-weight: bold;
            }
        }




         

}/* end of header */




.slider{

        .carousel-control
        {

           

            .glyphicon-chevron-right{
                right:36%;
            }
            .glyphicon-chevron-left{
                left:36%;
            }
            .glyphicon-chevron-right, .glyphicon-chevron-left{
                width:20px;
            }
            

            
        } 


        .carousel-indicators
        {
            margin-bottom:0px;
            bottom:-0px;


            li {
                width:15px;
                height:12px;
            }
        } 
        
    }













}