$primaryColor: #709b1d;
$secColor: #f3f3f3;
$primary_dark_color: #4b6e08;
$light_primary_color: #83b228;
$dark_text_color: #434343;
$light_grey_color: #efefef;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body
{
	margin: 0px;
	padding: 0%;
	font-family: Open Sans;

	&,& *{
        transition: all 0.4s ease;
	}
	a:hover
	{
		text-decoration: none;
	}

}/*end of body*/


.btnStyle1{
    display: inline-block;
    padding: 10px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 3px 0px #ccc;
    color: #709b1d;
    background: #fff;
    &:hover{
        box-shadow: none;
        border: 1px solid white;
        color: #fff;
        background: $primaryColor;
    }
    i{
        transition: 0s;
    }

}

.rating{
    text-align: center;
    .star{
        display:inline-block;

        width:18px;
        height:18px;
        background-position:bottom;
        background-image:url(../images/starIcon.png);

        &.active,&:hover{
            background-position: top;
        }

    }
}


.product{
            background-color: $light_grey_color;
            padding:2px;
            text-align: center;
            
            .img{
                background-position: center;
                width:100%;
                padding-bottom:100%;
                background-size:cover;
                position:relative;
                margin-bottom:30px;

                .discountBadge{
                    position: absolute;
                    top: 20px;
                    left: 0px;
                    height: 50px;
                    width: 50px;
                    background: $primaryColor;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    .percent
                    {
                        transform: rotate(45deg);
                        display: block;
                    }

                }


                .title{
                    position:absolute;
                    left:0px;
                    right:0px;
                    bottom:-20px;
                    width:90%;
                    height:40px;
                    line-height:40px;
                    font-size:16px;
                    background-color:#FFF;
                    border: 1px solid $light_grey_color;
                    color:$primaryColor;
                    margin:auto;
                    

                }
                
                
            }

            .price,.newPrice{
                font-weight:bold;
                font-size:20px;
                color:#696969;
                margin-bottom:16px;
                display: inline-block;

                &.discounted{
                    text-decoration: line-through;
                }
            }
            .newPrice
            {
                color: $primaryColor;
            }
            .btn{
                display: none;
            }
            &:hover{
                background-color: $primaryColor;
                .btn{
                    display: inline-block;
                }
                .price,.newPrice,.rating{
                    display: none;
                }
            }

            


        }





header
{
	display: block;
	#row1
	{
		min-height: 40px;
		background: $primaryColor;
		padding-bottom: 5px;
		.links{
			display: inline-block;
			color: white;
			padding: 10px 10px;
			height: 40px;
			border-bottom-right-radius: 2px;
			border-bottom-left-radius: 2px;
			font-size: 14px;

			&:hover,&.active{
			background: #fff;
			color: $primaryColor;

		}
		i,span
		{
			transition: 0s;
		}

		}

	}/*end  of row1*/

    #row2
    {
    	min-height: 85px;

    	nav{
    		min-height: 0%;
    		background: #fff;
    		border-bottom: 0px;
    		border-top: 0px;
    		margin-top: 30px;
    		margin-bottom: 0px;

    		.nav {
               a {
                    color:$primaryColor;
                    text-transform: uppercase;
                 }
            }
            .navbar-brand{
                height:auto;
                padding-top:0px; 
                padding-bottom:0px;
            }



    	}
    }/*end of row2*/


    #row3
    {
    	background: $secColor;
    	min-height: 37px;

        .navbar
        {
            margin-bottom: 0px;
        }


    	.nav{
    		li{
    			padding-left: 0 15px;
                margin: 0px 15px;
    			a{
    				color: $primaryColor;
    				text-transform: uppercase;
    				&.active, &:hover{
    					background: $primaryColor;
    					color: #fff;

    				}
    			}
    		}




    	}
    	form{
                input, button{
                    border-radius:0px;
                }
            }
    }/*end of row3*/




}/*end of header*/




.slider
{
    .carousel-control{
        &.right,&.left{
            background-image: none;
        }
        .glyphicon-chevron-right,.glyphicon-chevron-left
        {
            height: auto;
            width: auto;
        }

        .glyphicon-chevron-right
        {
            right: 6%;
        }
        .glyphicon-chevron-left
        {
            left: 6%;
        }


    }
    .carousel-inner
    {
        .item img{
            width: 100%;
            margin: auto;
        }
        
    }

    .carousel-indicators li
    {
        border: 0px;
        border-radius: 0px;
        background: $primaryColor;
        width: 22px;
        height: 17px;
        margin: 0px;

        &.active{
            background: $primary_dark_color;
        }
        
    }

}/*end of slider*/



#siteInfo
{
    padding-top: 10px;
    background: $primaryColor;


    .block{
        background-color: $light_primary_color;
        display: block;
        margin-bottom: 10px;
        padding: 20px;

        h4,.icon
          {
            color: #fff;
        }
        .icon
        {
            float: left;
            font-size: 35px;
            margin-right: 10px;

        }
        h4,h5
        {
            margin: 0px;
        }
    }
    
}/*end of siteInfo */


#tabbedSlider
{
    margin-top: 88px;
    margin-bottom: 88px;
    .header
    {
        background: $primaryColor;
        padding-top: 6px;
        text-align: center;
        li{
            float: none;
            display: inline-block;
            
            a{
                color: white;
                font-size: 18px;
            }
            &:hover,&.active{
                a{
                   color: $primaryColor;
                }
            }
            
        }


   } 
}

.content
{
    margin-top: 30px;
    .carousel{
        .carousel-control{
            background: none;
            width: 50px;
            height: 50px;
            position: absolute;
            margin-top: -72px;
        }
        .glyphicon{
            margin:0px;
            top: 0px;
            position: relative;
        }
        &.right{
            .glyphicon{
                left: 0px;
            }
        }
    }
}



#subscribe{
    padding: 50px 0px;
    background-image: url("../images/subscribeBannerBg.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;

    .title{
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 40px;
    }
    form{
        input,button{
            background-color: #dde7ca;
            border-radius: 7px;
            display: inline-block;
            border: 3px solid $primary_dark_color;
            margin-bottom: 5px;
        }
        input{
            padding: 10px;
            font-size: 18px;
            min-width: 320px;
            color: $primaryColor;
            outline: none;

            &:focus{
                background-color: $primary_dark_color;
                color: #fff;

                &::placeholder{
                    color: #fff;
                }
            }
        }
        button{
            width: auto;
            padding: 10px 30px;
            font-size: 18px;
            font-weight: bold;
            margin-left: 4px;
            color: $primary_dark_color;

            &:hover{
                background-color: $primary_dark_color;
                color: #fff;
            }
        }
    }
}






@media(max-width: 786px){


header
{
	#row1
	{
		.links
		{
			font-size: 11px;
			padding: 10px 5px;
			height: auto;
		}
		.currencyDropdown{
                    width:100%;

                    a, .dropdown-menu{
                        width:100%;
                    }
                    .dropdown-menu{
                        border-top:0px;
                        border-radius:0px;
                    }
                
                }
		
		
	}

    #row3{
            .navbar-toggle{
                float: none;
                margin-right: auto;
                margin-left: auto;
                width: 100px;
                display: block;
                color: #709b1d;
                font-weight: bold;
            }
        }




         

}/* end of header */




.slider{

        .carousel-control
        {

           

            .glyphicon-chevron-right{
                right:36%;
            }
            .glyphicon-chevron-left{
                left:36%;
            }
            .glyphicon-chevron-right, .glyphicon-chevron-left{
                width:20px;
            }
            

            
        } 


        .carousel-indicators
        {
            margin-bottom:0px;
            bottom:-0px;


            li {
                width:15px;
                height:12px;
            }
        } 
        
    }/*end of slider*/













}/*end of media */
