@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0px;
  padding: 0%;
  font-family: Open Sans; }
  body, body * {
    transition: all 0.4s ease; }
  body a:hover {
    text-decoration: none; }

header {
  display: block; }
  header #row1 {
    min-height: 40px;
    background: #709b1d;
    padding-bottom: 5px; }
    header #row1 .links {
      display: inline-block;
      color: white;
      padding: 10px 10px;
      height: 40px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      font-size: 14px; }
      header #row1 .links:hover, header #row1 .links:active {
        background: #fff;
        color: #709b1d; }
      header #row1 .links i, header #row1 .links span {
        transition: 0s; }
  header #row2 {
    min-height: 85px; }
    header #row2 nav {
      min-height: 0%;
      background: #fff;
      border-bottom: 0px;
      border-top: 0px;
      margin-top: 30px;
      margin-bottom: 0px; }
      header #row2 nav .nav a {
        color: #709b1d;
        text-transform: uppercase; }
      header #row2 nav .navbar-brand {
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px; }
  header #row3 {
    background: #f3f3f3;
    min-height: 37px; }
    header #row3 .navbar {
      margin-bottom: 0px; }
    header #row3 .nav li {
      padding-left: 0 15px; }
      header #row3 .nav li a {
        color: #709b1d;
        text-transform: uppercase; }
        header #row3 .nav li a:active, header #row3 .nav li a:hover {
          background: #709b1d;
          color: #fff; }
    header #row3 form input, header #row3 form button {
      border-radius: 0px; }

.slider .carousel-control.right, .slider .carousel-control.left {
  background-image: none; }
.slider .carousel-control .glyphicon-chevron-right, .slider .carousel-control .glyphicon-chevron-left {
  height: auto;
  width: auto; }
.slider .carousel-control .glyphicon-chevron-right {
  right: 6%; }
.slider .carousel-control .glyphicon-chevron-left {
  left: 6%; }
.slider .carousel-inner .item img {
  width: 100%;
  margin: auto; }
.slider .carousel-indicators li {
  border: 0px;
  border-radius: 0px;
  background: #709b1d;
  width: 22px;
  height: 17px;
  margin: 0px; }
  .slider .carousel-indicators li.active {
    background: #4b6e08; }

@media (max-width: 786px) {
  header #row1 .links {
    font-size: 11px;
    padding: 10px 5px;
    height: auto; }
  header #row1 .currencyDropdown {
    width: 100%; }
    header #row1 .currencyDropdown a, header #row1 .currencyDropdown .dropdown-menu {
      width: 100%; }
    header #row1 .currencyDropdown .dropdown-menu {
      border-top: 0px;
      border-radius: 0px; }
  header #row3 .navbar-toggle {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    display: block;
    color: #709b1d;
    font-weight: bold; }

  /* end of header */
  .slider .carousel-control .glyphicon-chevron-right {
    right: 36%; }
  .slider .carousel-control .glyphicon-chevron-left {
    left: 36%; }
  .slider .carousel-control .glyphicon-chevron-right, .slider .carousel-control .glyphicon-chevron-left {
    width: 20px; }
  .slider .carousel-indicators {
    margin-bottom: 0px;
    bottom: -0px; }
    .slider .carousel-indicators li {
      width: 15px;
      height: 12px; } }

/*# sourceMappingURL=styles.css.map */
